In [12]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [13]:
file_path = 'C:/Users/vuyis/Downloads/Closed Ended Data.csv'
data = pd.read_csv('C:/Users/vuyis/Downloads/Closed Ended Data.csv')

In [14]:
print("Dataset Information:")
data.info()

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4435 entries, 0 to 4434
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   DATE_TIME             4434 non-null   object
 1   HOUSE_PIC             304 non-null    object
 2   INTERVIEW_LANG        199 non-null    object
 3   EDU_RECIEVED          91 non-null     object
 4   INFO_RECIEVING        193 non-null    object
 5   COMMUNICATION_WAY     195 non-null    object
 6   LEADER_PARTICIPATION  189 non-null    object
 7   COMMU_ORG             108 non-null    object
 8   AVG_MON_SAL           164 non-null    object
 9   HOUSE_HEAD            166 non-null    object
 10  NO_HOUSEHOLD          172 non-null    object
 11  CHANG_ECO_SITUA       166 non-null    object
 12  ACC_STATUS            159 non-null    object
 13  EDU_LEVEL             160 non-null    object
 14  PARTICIPANT_JOB       175 non-null    object
 15  SELF_BUILT_HOUSE      170 non-null    object
 16  VEGES                 159 non-null    object
 17  FLOOD_EXP             159 non-null    object
 18  YRLY_FLOOD            84 non-null     object
 19  FIRE_EXP              158 non-null    object
 20  WATER_SATISFIED       127 non-null    object
 21  TOILET_TYPE           121 non-null    object
 22  WATER_SOURCE          158 non-null    object
dtypes: object(23)
memory usage: 797.0+ KB

In [15]:
print("\nDataset Shape (rows, columns):")
print(data.shape)

Dataset Shape (rows, columns):
(4435, 23)

In [16]:
print("\nFirst few rows of the dataset:")
print(data.head())

First few rows of the dataset:
             DATE_TIME HOUSE_PIC INTERVIEW_LANG EDU_RECIEVED INFO_RECIEVING   \
0  2022-10-11T12:24:20       NaN             en          NaN   Word of mouth
1  2022-10-11T12:24:20       NaN             zu          NaN             NaN
2  2022-10-11T12:24:20       Yes             en          NaN   Social events
3  2022-10-11T12:24:21       Yes             en          NaN              TV
4  2022-10-11T12:24:21       Yes             zu          NaN           Radio

  COMMUNICATION_WAY LEADER_PARTICIPATION COMMU_ORG AVG_MON_SAL HOUSE_HEAD  \
0     Word of mouth                  NaN       NaN         NaN     Mother
1               NaN                  NaN       NaN         NaN        NaN
2      Mobile phone                   No       NaN        3500      Other
3                TV                   No       Lns        1000     Father
4             Radio                   No       NaN        <500    Husband

   ...  EDU_LEVEL PARTICIPANT_JOB SELF_BUILT_HOUSE VEGES FLOOD_EXP YRLY_FLOOD  \
0  ...  Secondary      Unemployed              NaN   NaN       NaN        NaN
1  ...        NaN             NaN              NaN   NaN       NaN        NaN
2  ...  Secondary   Wage employee               No    No        No        NaN
3  ...  Secondary   Wage employee               No    No        No        NaN
4  ...  Secondary      Unemployed              Yes   Yes       Yes          1

  FIRE_EXP WATER_SATISFIED           TOILET_TYPE   WATER_SOURCE
0      NaN             NaN                   NaN            NaN
1      NaN             NaN                   NaN            NaN
2      Yes             Yes  Communal pit latrine  Community tap
3      Yes             Yes  Communal pit latrine  Community tap
4      Yes              No  Communal pit latrine  Community tap

[5 rows x 23 columns]

In [17]:
print("\nMissing Data per Column:")
print(data.isnull().sum())

Missing Data per Column:
DATE_TIME                  1
HOUSE_PIC               4131
INTERVIEW_LANG          4236
EDU_RECIEVED            4344
INFO_RECIEVING          4242
COMMUNICATION_WAY       4240
LEADER_PARTICIPATION    4246
COMMU_ORG               4327
AVG_MON_SAL             4271
HOUSE_HEAD              4269
NO_HOUSEHOLD            4263
CHANG_ECO_SITUA         4269
ACC_STATUS              4276
EDU_LEVEL               4275
PARTICIPANT_JOB         4260
SELF_BUILT_HOUSE        4265
VEGES                   4276
FLOOD_EXP               4276
YRLY_FLOOD              4351
FIRE_EXP                4277
WATER_SATISFIED         4308
TOILET_TYPE             4314
WATER_SOURCE            4277
dtype: int64

In [18]:
data.columns = data.columns.str.strip().str.lower()

print("\nNormalized Columns in the dataset:")
print(data.columns)

Normalized Columns in the dataset:
Index(['date_time', 'house_pic', 'interview_lang', 'edu_recieved',
       'info_recieving', 'communication_way', 'leader_participation',
       'commu_org', 'avg_mon_sal', 'house_head', 'no_household',
       'chang_eco_situa', 'acc_status', 'edu_level', 'participant_job',
       'self_built_house', 'veges', 'flood_exp', 'yrly_flood', 'fire_exp',
       'water_satisfied', 'toilet_type', 'water_source'],
      dtype='object')

In [19]:
expected_columns = ['communication_way', 'leader_participation']
print("\nChecking for expected columns in the dataset:")
for col in expected_columns:
    if col in data.columns:
        print(f"Column '{col}' found in dataset.")
    else:
        print(f"Column '{col}' NOT found in dataset.")

Checking for expected columns in the dataset:
Column 'communication_way' found in dataset.
Column 'leader_participation' found in dataset.

In [20]:
if 'communication_way' in data.columns and 'leader_participation' in data.columns:
    print("\nSlicing and Indexing Example - First 5 rows of 'communication_way' and 'leader_participation':")
    print(data[['communication_way', 'leader_participation']].head())
else:
    print("\nCannot slice - 'communication_way' and/or 'leader_participation' columns not found.")

Slicing and Indexing Example - First 5 rows of 'communication_way' and 'leader_participation':
  communication_way leader_participation
0     Word of mouth                  NaN
1               NaN                  NaN
2      Mobile phone                   No
3                TV                   No
4             Radio                   No

In [29]:
if 'leader_participation' in data.columns:
    # Convert categorical values to numeric values
    data['leader_participation_numeric'] = data['leader_participation'].map({'Yes': 1, 'No': 0})
    
    # Initialize MinMaxScaler
    scaler = MinMaxScaler()
    
    # Fit and transform the numeric values
    data['leader_participation_normalized'] = scaler.fit_transform(data[['leader_participation_numeric']])
    
    # Display the first few rows of the relevant columns
    print("\nFirst few rows after normalizing 'leader_participation':")
    print(data[['communication_way', 'leader_participation', 'leader_participation_numeric', 'leader_participation_normalized']].head())
else:
    print("Column 'leader_participation' does not exist in the DataFrame.")

First few rows after normalizing 'leader_participation':
  communication_way leader_participation  leader_participation_numeric  \
0     Word of mouth                  NaN                           NaN
1               NaN                  NaN                           NaN
2      Mobile phone                   No                           0.0
3                TV                   No                           0.0
4             Radio                   No                           0.0

   leader_participation_normalized
0                              NaN
1                              NaN
2                              0.0
3                              0.0
4                              0.0

In [30]:
cleaned_file_path = 'C:/Users/vuyis/Downloads/Cleaned_Closed_Ended_Data.csv'
data.to_csv(cleaned_file_path, index=False)
print(f"\nCleaned dataset saved to: {cleaned_file_path}")

Cleaned dataset saved to: C:/Users/vuyis/Downloads/Cleaned_Closed_Ended_Data.csv